a:hover {color: rgba(255, 255, 0, 0.573);}  
body {background-color: black;
      background-attachment: fixed;
      background-position: right;
      background-size:cover;}
.FontColorBlue {color: rgb(52, 110, 197);: ;}
.table {background-color: black;}
